# ─── Required ─────────────────────────────────────────────

NEXT_PUBLIC_API_URL=http://localhost:3366
NEXT_PUBLIC_SHORT_DOMAIN=http://localhost:3000

# ─── Only production ───────────────────────────────────────────────────

# INTERNAL_API_URL=http://127.0.0.1:3366


# ─── Only dev ──────────────────────────────────────────────────────────

BACKEND_ORIGIN=http://localhost:3366
