NODE_ENV=development
PORT=3068

DATABASE_URL="mysql://snipp:snipp_dev_password@localhost:3306/snipp"

REDIS_URL="redis://localhost:6379"

FRONTEND_ORIGIN="http://localhost:3000"

SHORT_DOMAIN="http://localhost:3000"
